
html, body {
    height: 100%;
    overflow: auto;
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: url("../img/clouds.jpg") center no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

#searchForm {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -150px;
    height: 100%;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

#wrapper {
    position: relative;
    height: 400px;
}

#spinner {
    position: absolute;
    top: 30%;
    left: 45%;
    display: none;
}

#hits {
    margin-top: 50px;
}

#no-results {
    text-align: center;
    font-size: 24px;
    display: none;
}

.hit {
    margin: 1%;
}

.hit:hover {
    transform: scale(1.02);
}

#paginator {
    text-align: center;
    color: black;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

@media only screen and (max-device-width: 780px) {
    .footer {
        display: none;
    }
}